#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #65D46E);
}

.title {
  font-size: 2em;
}

.card {
  max-width: 25em;
  padding: 2em;
  border-radius: 1em;
  background-color: black;
  margin: 2em 0;
}

.card > img {
  max-width: 20em;
  height: auto;
  border-radius: 1em;
}

.card > h2 {
  color: white;
  font-size: 2em;
  margin: 0;
}